<input type="checkbox" id="active">
<label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
<div class="wrapper">
    <ul>
        <li><a routerLink='/logar'>Login</a></li>
        <li><a href="#">Postagem</a></li>
        <li><a routerLink='/sobrenos'>Sobre Nós</a></li>
        <li><a href="#">Agradecimentos</a></li>
    </ul>
</div>
<div class="content">
    <div class="title">

        <!-- Aqui é o código do projeto 3D da nossa equipe -->
        <iframe src='https://my.spline.design/projetovozativa3-5c21b2c920d68f93e4eccd0cd8fe2bc2/' frameborder='0'
            width='100%' height='500px'></iframe>




    </div>